# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Others
**.DS_Store
uv2csolution/out/*
uv2csolution/tmp/*
uv2csolution/.clangd
uv2csolution/.vscode/*
uv2csolution/*.yml
uv2csolution/*.json
uv2csolution/uv2csolution.log
uv2csolution/*.sct
Blinky/out/*
Blinky/tmp/*
Blinky/.clangd
Blinky/Blinky.cbuild-*.yml
Blinky/Blinky.Debug+NUCLEO-F756ZG.cbuild.yml
Blinky/Blinky+NUCLEO-F756ZG.cbuild-run.yml
Blinky/NUCLEO-F756ZG.cbuild-run.yml